.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 20vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    height: 65%;
    overflow: hidden;
    background-color:white;
    border: solid black 1px;
    border-radius: 20px;
  }
  
  .heading {
    background: #FAC213;  
    width: 100%;
    font-family: 'Charis SIL', serif;
  }
  
  .heading h2 {
    margin: 0;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .text label{
    display: block;
    margin-top: 1.3rem;
    margin-left:1.5rem;
    margin-bottom: 5px;
    font-family: 'Charis SIL', serif;
  }

  .text input{
    width:88%;
    height: 1.3rem;
    margin-left:1.5rem;

  }

  .text input:focus{
    outline: none !important;
    border:2px solid #FAC213;
  }

  .text textarea{
    width:88%;
    margin-left:1.5rem; 
    margin-bottom: 1.7rem;
  }

  .text textarea:focus{
    outline: none !important;
    border:2px solid #FAC213;
  }
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }